@media only screen and (max-width: 960px) {
  .stats__block {
    width: 80%;
    margin: 0 auto 1rem auto;
  }
  .tns-controls {
    right: 50%;
    left: auto;
  }
  .section--summary {
    border-radius: 0;
    &:after {
      display: none;
    }
  }
  .section--snippets {
    margin: 8rem auto;
    text-align: center;
    > .flex--horizontal {
      flex-direction: column;
    }
    &:before,
    &:after {
      display: none;
    }
    .snippets__cards {
      transform: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .snippets__card {
      flex: 0.18;
      flex-direction: column;
      p {
        margin-right: 0;
      }
      &:hover {
        transform: translate3d(0px, -10px, 0px);
      }
    }
  }
  .snippets__description {
    column-count: 2;
    text-align: left;
  }
}

@media only screen and (max-width: 770px) {
  .nav--desktop {
    display: none;
  }
  .nav--mobile {
    display: block;
  }
  .section--snippets {
    margin: 3rem auto;
    text-align: center;
    padding-top: 0;
    > .flex--horizontal {
      padding: 1.4rem;
    }
    &:before,
    &:after {
      display: none;
    }
  }
  .section--hero {
    .flex--horizontal {
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .flex_child--horizontal:first-of-type {
      padding: 30% 2rem 2rem 2rem;
      h1 {
        margin-bottom: 30%;
      }
    }
    .flex_child--horizontal:last-of-type {
      max-width: 300px;
      margin: auto;
      display: none;
    }
    .cta {
      margin: 1.4rem auto 0 auto;
    }
  }
  .section--summary {
    border-radius: 0;
    margin-top: 0rem;
  }
  .section--features {
    > .flex--horizontal {
      flex-direction: column;
      justify-content: center;
    }
    .features__image {
      align-self: center;
      margin-bottom: 2rem;
    }
    .features__left,
    .features__right {
      width: 80%;
      margin: auto;
      text-align: left;
      object {
        margin-right: 0.7rem;
      }
      > .flex--vertical {
        margin: 0.5rem 0;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
      }
    }
    .features__left {
      order: 2;
      padding-right: 0;
    }
    .features__right {
      order: 3;
      padding-left: 0;
    }
  }
  .section--stats {
    margin: 5rem auto;
  }
  .section--integrations {
    > .flex--horizontal {
      flex-wrap: wrap;
      justify-content: center;
    }
    .logo {
      max-width: 100px;
      margin: 1rem;
    }
  }
  .section--customers {
    padding: 2rem 0;
    .tns-controls {
      right: 10%;
      top: 4.5rem;
      bottom: auto;
    }
    .slide {
      flex-direction: column;
    }
    .slide__content {
      margin: 0;
      max-width: 80%;
      height: max-content;
      justify-content: stretch;
      padding: 3rem 1.6rem;
    }
    .slide__image {
      width: 100px;
      height: 100px;
      margin: 0 0 -2rem 1.2rem;
      order: -1;
      z-index: 1;
    }
  }
}
@media only screen and (max-width: 660px) {
  .snippets__cards {
    display: none;
  }
  .section--summary {
    .summary__lists {
      text-align: center;
      padding: 2rem 0.5rem;
    }
    .summary__list {
      padding: 0;
      flex-direction: column;
      border: 0;
      img {
        align-self: center;
        margin-bottom: 0.5rem;
        margin-right: 0;
      }
      p {
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.4em;
      }
    }
    .flex_child--vertical:last-of-type {
      flex-direction: column;
      padding: 2rem;
      p {
        text-align: center;
      }
      h2 {
        padding-left: 0;
        align-self: center;
        order: -1;
        margin-bottom: 1rem;
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .snippets__description {
    column-count: 1;
    text-align: center;
  }
  .section--customers .tns-controls {
    right: 5%;
  }
  .input-button {
    width: 40%;
  }
  .section--contact {
    padding: 5rem 1rem;
  }
  .form-group {
    max-width: none;
    width: auto;
  }
}
