$gray-1: #575757;
$gray-3: #ced4da;

$purple-1: #eaeaea;
$purple-2: #f6f2fe;
$purple-3: #e8e2f3;
$purple-4: #c0b2fc;
$purple-5: #6146d7;
$purple-6: #3e3c65;
$purple-7: #38355a;
$purple-10: #27253f;
$purple-11: #1d1a2b;
$purple-12: #1f1d34;
